@mixin container-background($color1, $color2) {

  width: 100%;
  height: 100vh;
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1, $color2); /* Standard syntax */

}

@mixin border-radius($radius) {

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;

}

@mixin transform-scale($x) {

  -ms-transform: scale($x);
  -webkit-transform: scale($x);
  transform: scale($x);

}