/* COLORS */

$color_primary : #F44336;
$color_primary_dark : #B71C1C;
$color_accent : #795548;
$color_gray : #808080;
$color_gray_light : rgba(213, 213, 213, 0.96);
$color_white : #FFFFFF;
$color_yellow : #BFBC02;
$color_green : #4ABF65;
$color_red : #BF415A;


/* DIMENS */

$dimen_width_100 : 100% !important;
$dimen_width_50 : 50% !important;
$dimen-font-size : 18px;
$dimen-font-size-large : 21px;
$dimen-header-top : 80px;
$dimen-box : 20px;
$dimen-right-value : 15%;
$dimen-padding-header : 10px;
$dimen-padding-card : 15px;
$dimen-margin-top-item : 1px;
$dimen-padding-list : 15px 0px 15px 0px;
$dimen-margin-list : 80px 10% 10% 10%;
$dimen-margin-list-two : 10px;
$dimen-margin-titlecard : 10px;
$dimen-paddin-closebtn : 4px 9px;
$dimen-closebtn-right : 1%;
$dimen-closebtn-top : 5px;