<div class="container-students">
    <div class="header-title">
        {{root_messages.home.title}}
    </div>
    <div class="container-general-body">
        <div class="detail-container-card" ng-if="home.selectStudent != undefined">
            <div class="title-card">{{root_messages.home.title_card}} <span class="close-detail" ng-click="home.hideSelectedStudent()">X</span></div>
            <div class="card-description">
                <div class="name-card"> {{root_messages.home.labelName}} {{home.selectStudent.name}}</div>
                <div class="name-card"> {{root_messages.home.labelAge}} {{home.selectStudent.yearsOld}}</div>
                <div class="name-card"> {{root_messages.home.labelColor}} {{home.selectStudent.color}}
                    <span class="color-box" ng-style="{ background: home.selectStudent.color }"></span>
                </div>
                <div class="container-grades">
                    <div class="container-grades-item" ng-repeat="grade in home.selectStudent.grades">
                        <span ng-if="grade < 3" class="container-grades-item-red">{{ grade }}</span>
                        <span ng-if="grade >= 3 && grade < 4" class="container-grades-item-yellow">{{ grade }}</span>
                        <span ng-if="grade >= 4" class="container-grades-item-green">{{ grade }}</span>
                    </div>
                    <div class="name-card"> {{root_messages.home.labelAverage}}
                        <span ng-if="home.selectStudent.average  < 3" class="container-grades-item-red">{{home.selectStudent.average | number : 1}}</span>
                        <span ng-if="home.selectStudent.average  >= 3 && home.selectStudent.average < 4"
                              class="container-grades-item-yellow">{{home.selectStudent.average | number : 1}}</span>
                        <span ng-if="home.selectStudent.average  >= 4" class="container-grades-item-green">{{home.selectStudent.average | number : 1}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-students-list">
            <div class="list-students" ng-repeat="student in home.students" ng-click="home.setselectStudent($index)"
                 ng-if="student.active">
                {{ student.name }} <span class="color-box" ng-style="{ background: student.color }"></span>
            </div>
        </div>
    </div>
</div>