body {
    font-family: Roboto;
    font-size: $dimen-font-size;
    color: $color_gray;
}

.header-title {
    width: $dimen_width_100;
    height: auto;
    background: $color_primary;
    text-align: center;
    color: $color_white;
    padding: $dimen-padding-header;
    position: fixed;
    top:0;
    left: 0;
}

.list-students {
    width: $dimen_width_100;
    @include border-radius(3px);
    border: solid 1px $color_gray_light;
    padding-top: $dimen-padding-header;
    padding-bottom: $dimen-padding-header;
    text-align: center;
    margin-bottom: $dimen-margin-top-item;
    transition: all .3s;

    &:hover{
        cursor: pointer;
        @include transform-scale(1.001);
        font-size: $dimen-font-size-large;
    }
}

.container-general-body {
    padding: $dimen-margin-list;
}

.container-students {
    width: $dimen_width_100;
    height: auto;
    &-list{
        padding-top: $dimen-margin-list-two;
    }
}

.container-50 {
    width: $dimen_width_50;
}

.container-100 {
    width: $dimen_width_100;
}

.color-box {
    width: $dimen-box;
    height: $dimen-box;
    position: absolute;
    right: $dimen-right-value;
}

.detail-container-card {
    width: $dimen_width_100;
    height: auto;
    border: solid 1px $color_gray_light;
    @include border-radius(3px);
}

.title-card {
    position: relative;
    width: $dimen_width_100;
    text-align: center;
    color: $color_gray;
    background: $color_gray_light;
    padding-top: $dimen-margin-titlecard;
    padding-bottom: $dimen-margin-titlecard;
}

.card-description {
    padding: $dimen-padding-card;
}

.container-grades {
    display: block;
    width: $dimen_width_100;

    &-item{
        display: inline-block;
        padding: $dimen_box;

        &-red {
            color: $color_red;
        }
        &-green {
            color: $color_green;
        }
        &-yellow {
            color: $color_yellow;
        }
    }
}

.close-detail {
    position: absolute;
    right: $dimen-closebtn-right;
    top: $dimen-closebtn-top;
    font-size: $dimen-font-size;
    background: $color_accent;
    color: $color-white;
    padding: $dimen-paddin-closebtn;
    @include border-radius(50%);
}